<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center"> 
    <!-- gt=greater than(daha büyük) -->
    <section>
        <h1>Activity</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, necessitatibus!</p>
    </section>
    <section>
        <h1>Community</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, animi aliquam in ipsa eius possimus.</p>
    </section>
    <section>
        <h1>Challenges</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>
</div>